#flashes-container {
    width: 100%;
    z-index: 1000;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    animation:flashes-animation 5s 1;
    -webkit-animation:flashes-animation 5s 1;
    animation-fill-mode: forwards;
    animation-delay:3s;
    -webkit-animation-delay:1s;
    -webkit-animation-fill-mode: forwards;
    &  img{
        width: 30px;
        height: 30px;
        margin-right: 7px;
    }
}

.flashes {
    display: flex;
    align-items: center;
    width: fit-content;
    font-weight: bold;
    font-size: 20px;
    padding: 20px 40px;
    margin: 10px 0;
    scroll-behavior: revert;
}

@-webkit-keyframes flashes-animation {
    0%   {opacity: 1;}
    50% {opacity: 1; }
    90% {opacity: 0;}
    100% {opacity: 0;}
}

.flashes-error {
    background-color: #fb4646;
    border-radius: 6px;
}

.flashes-success {
    background-color: #3eed7b;
    border-radius: 6px;
}

@media screen and (max-width: 430px) {
    .flashes-error{
        width: 60%;

    }
}