#flashes-container {
    display: flex;
    flex-direction: column;
    margin: auto;
    max-width: 700px;
    animation:flashes-animation 5s 1;
    -webkit-animation:flashes-animation 5s 1;
    animation-fill-mode: forwards;
    animation-delay:3s;
    -webkit-animation-delay:1s;
    -webkit-animation-fill-mode: forwards;
}

.flashes {
    font-weight: bold;
    font-size: 20px;
    padding: 20px 40px;
    margin: 10px 0;
}

@-webkit-keyframes flashes-animation {
    0%   {opacity: 1;position: inherit;}
    50% {opacity: 1;position: inherit;}
    90% {opacity: 0;position: inherit;}
    100% {opacity: 0;position: absolute;}
}

.flashes-error {
    background-color: orangered;
    border: 2px solid mediumvioletred;
}

.flashes-success {
    background-color: lightgreen;
    border: 2px solid #344c32;
}