{% extends 'base.html.twig' %}
{% block title %} Liste Utilisateur {% endblock %}
{% block stylesheets %}

    <link rel="stylesheet" type="text/css" href="{{ asset('css/utilisateurListStyle.css') }}"/>
{% endblock %}
{% block body %}
    <main>
    <div id="listUser">
    {% for user in users %}
        {{ include('/utilisateur/utilisateur.html.twig', {'user' : user}) }}
    {% endfor %}
    </div>
    </main>
{% endblock %}