{% extends 'base.html.twig' %}
{% block title %} Profil {% endblock %}
{% block body %}
    <main>
        <h2>Profil de {{ utilisateur.login }}</h2>
        {% if utilisateur.visible %}
            <p style="color: green">visible</p>
        {% else %}
            <p style="color: red">masqué</p>
        {% endif %}
        <p>Dernière modification du profil: xx/xx/xxxx</p>
        <p>Dernière connexion: xx/xx/xxxx</p>
        <p></p>
        <p>Login: {{ utilisateur.login }}</p>
        <p>Email: {{ utilisateur.email }}</p>
    </main>
{% endblock %}