{% extends "base.html.twig" %}
{% block title %} Page introuvable {% endblock %}
{% block body %}
    <main>
        <div class="center">
            <h1>Page introuvable</h1>
            <p>La page demandée n'existe pas</p>
        </div>
    </main>
{% endblock %}