{% extends "base.html.twig" %}
{% block title %} Erreur {% endblock %}
{% block body %}
    <main>
        <div class="center">
            <h1>Erreur</h1>
            <p>Erreur</p>
        </div>
    </main>
{% endblock %}